{% extends 'layout.html.twig' %}

{% block breadcrumb %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="{{ path('homepage') }}">Home</a>
        <a class="breadcrumb-item active" href="{{ path('register') }}">Sign Up</a>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Users list</h1>
                <table class="table">
{#
                    <tr>
                        <td>Name</td>
                        <td>{{ profile.name }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{ profile.phone }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ profile.email }}</td>
                    </tr>
#}
                </table>
                <a href="{{ path('homepage') }}" class="btn btn-success">Home</a>
            </div>
        </div>
    </div>

{% endblock %}