{% extends 'layout.html.twig' %}

{% block breadcrumb %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="{{ path('welcome') }}">Welcome</a>
        <a class="breadcrumb-item" href="{{ path('beneficiaries') }}">Beneficiaries</a>
        <a class="breadcrumb-item active" href="{{ path('new-beneficiary') }}">New</a>
    </nav>
{% endblock %}

{% block body %}
    <h1>Add Beneficiary</h1>

    {{ form_start(form) }}
        {#{{ form_widget(form) }}#}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('beneficiaries') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
