{% extends 'layout.html.twig' %}

{% block breadcrumb %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="{{ path('welcome') }}">Welcome</a>
        <a class="breadcrumb-item" href="{{ path('beneficiaries') }}">Beneficiaries</a>
        <a class="breadcrumb-item" href="{{ path('beneficiary-details', { id : b.id }) }}">Details</a>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Beneficiary details</h1>
                <form action="{{ path('beneficiary-remove') }}" method="post">
                    <input type="hidden" value="{{ b.id }}" name="id"/>
                    <table class="table">
                        <tr>
                            <td>Alias</td>
                            <td>{{ b.alias }}</td>
                        </tr>
                        <tr>
                            <td>Account</td>
                            <td>{{ b.account }}</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{ b.name }}</td>
                        </tr>
                        <tr>
                            <td>Max Amount</td>
                            <td>{{ b.maxAmountTransfer }}</td>
                        </tr>
                        <tr>
                            <td>Quota</td>
                            <td>{{ b.transactionsQuota }}</td>
                        </tr>
                    </table>
                    <input type="submit" class="btn btn-danger" value="Remove" />
                    <a href="{{ path('beneficiaries') }}" class="btn btn-success">Back</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}