{% extends 'layout.html.twig' %}

{% import 'macros.html.twig' as utils %}

{% block breadcrumb %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="{{ path('welcome') }}">Welcome</a>
        <a class="breadcrumb-item active" href="{{ path('transfer') }}">Transfer</a>
    </nav>
{% endblock %}

{% block body %}
    <h1>Transfer</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.beneficiary) }}
        {{ form_widget(form.beneficiary, { 'attr' : { 'class' : 'form-control' }}) }}
        {{ form_errors(form.beneficiary) }}
    </div>
    <div class="form-group">
        {{ form_label(form.amount) }}
        {{ form_widget(form.amount, { 'attr' : { 'class' : 'form-control' }}) }}
        {{ form_errors(form.amount) }}
    </div>
    {{ form_row(form.transfer, { 'attr' : { 'class' : 'btn btn-primary' }}) }}
    {{ form_end(form) }}

    {% if app_errors is defined %}
        {{ utils.showApplicationErrors(app_errors) }}
    {% endif %}
{% endblock %}
